@font-face {
  font-family: "Titillium Web";
  src: url(../fonts/Titillium_Web/TitilliumWeb-Regular.ttf) format(truetype);
  font-style: normal;
}

@font-face {
  font-family: "Titillium Web SemiBold";
  src: url(../fonts/Titillium_Web/TitilliumWeb-SemiBold.ttf) format(truetype);
}
